# points.
create vertex -0.5 0 0
create vertex 0 0 0
create vertex 1 0.46630765815499858 0
create vertex 1 1 0
create vertex -0.5 1 0
# lines.
create curve 1 2
create curve 2 3
create curve 3 4
create curve 4 5
create curve 5 1
# surface.
create surface 1 2 3 4 5
# BCs.
sideset 1 curve 1
sideset 2 curve 2
sideset 3 curve 3
sideset 4 curve 4
sideset 5 curve 5
sideset 1 name "lower"
sideset 2 name "ramp"
sideset 3 name "right"
sideset 4 name "upper"
sideset 5 name "left"
# mesh.
surface 1 size %g
surface 1 scheme trimesh
mesh surface 1
