Checks: >
    *,
    -clang-analyzer-*,
    -hicpp-*,
    -clang-diagnostic-ignored-optimization-argument,
    -clang-diagnostic-elaborated-enum-base,
    -altera-*,
    -abseil-*,
    -boost-*,
    -bugprone-crtp-constructor-accessibility,
    -bugprone-derived-method-shadowing-base-method,
    -bugprone-easily-swappable-parameters,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-macro-parentheses,
    -bugprone-narrowing-conversions,-cppcoreguidelines-narrowing-conversions,
    -fuchsia-multiple-inheritance,-misc-multiple-inheritance,
    -llvmlibc-*,
    -modernize-concat-nested-namespaces,
    -modernize-loop-convert,
    -modernize-return-braced-init-list,
    -modernize-use-constraints,
    -modernize-use-integer-sign-comparison,
    -modernize-use-nodiscard,
    -modernize-use-ranges,
    -modernize-use-trailing-return-type,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-avoid-goto, -hicpp-avoid-goto,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-macro-usage,
    -fuchsia-overloaded-operator,-fuchsia-default-arguments*,
    -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-use-default-member-init,-modernize-use-default-member-init,
    -cppcoreguidelines-use-enum-class,
    -google-objc-global-variable-declaration,
    -google-readability-casting,
    -google-readability-todo,
    -google-runtime-references,
    -hicpp-signed-bitwise,
    -llvm-else-after-return,
    -llvm-header-guard,
    -llvm-include-order,
    -llvm-use-ranges,
    -performance-noexcept-move-constructor,
    -performance-avoid-endl,
    -portability-avoid-pragma-once,
    -readability-container-contains,
    -readability-else-after-return,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-inconsistent-declaration-parameter-name,
    -readability-isolate-declaration,
    -readability-named-parameter,
    -readability-magic-numbers,
    -readability-math-missing-parentheses,
    -readability-redundant-access-specifiers,
    -readability-redundant-inline-specifier,
    -readability-redundant-typename,
    -readability-static-definition-in-anonymous-namespace,
    -misc-non-private-member-variables-in-classes,
    -misc-confusable-identifiers,
    -misc-include-cleaner,
    -misc-unused-alias-decls,
    -misc-use-anonymous-namespace,
    -misc-use-internal-linkage
WarningsAsErrors: ''
FormatStyle: google
CheckOptions:
  - key: cppcoreguidelines-macro-usage.AllowedRegexp
    value: 'DECL_ST_*|SPACETIME_*|NPY_NO_DEPRECATED_API'
