.DS_Store
tags
setup.mk
setup.cfg
build/
build.dbg/
.sconsign.dblite
.coverage
.idea
.ipynb_checkpoints/
.vscode
scdata/
doc/api/
doc/source/_static/*.eps
opt/
tmp/
dep/
dist/
ground/downloaded/
soil/downloaded/
MANIFEST
solvcon.log
# compiled files.
*.pyc
*.o
*.so
*.dylib
*.os
*.?os
*.pyd
*.dll
*.def
*.a
# examples.
examples/*/*/result*/
examples/*/*/mesh/
sandbox/*/*/result/
sandbox/*/result/
sandbox/*/mesh/
# debian packaging
debian/files
debian/solvcon*
# Singularity images
*.img
*.simg
