language: cpp
dist: trusty

cache:
  directory:
  - $HOME/miniconda

notifications:
  slack:
    rooms:
      secure: bW29JOqmFy0GnsX5epQDSA6vf4urxXTjxx+a7saHLKel3+VjBZvAUNRXC9tKNp6SkmIReuRAccCKe5XjWnadSxn6/mmUxWS/w+D95flTs8AFjycglr8rNLf8CQsjtg3IrcxuSoh9BJNbf7Ae/bqJ0LZSf8hdsQnSKHd7BxFuld8Pevtf2mwte97hVeO5xyCZH/dGvhTUzl8Ygzn+cZBNGwkh6rUwn2H2eIN9azoVzHVlvvPWg7IZC1L48CkijXqWgm1mhxQMRDyPw7UjABuORTCF3py7gUrib9AP67uSyU1oxIovehMtQ8WhbE7WXqX3RASm/NgP9dbXPo8nF5qe2vNzCVD1Y2y0EGVnvq38cLVIGS97NCm/Njnlb7nGqpWPhx1i0VnlxqD0uqmOxcolqnVQuw41+a+ZsH0OwCWg6xRJhSSdZxAZm8z88U1LhpJX5tfOlbV47ZoBA+0Gf+F3FFzu/k6TO8vdaeDrdBuzlaMrHZdVe42Wd0JGnvUToEzCRklvjMuPNGfsPrtAFfYzPhaZ53VGGW4nS1/x5bjTCN6BvFrSErFkUCrmfvee9+ltMovbw/b/wchnnyPX0X1qfseaDZIQ6860A7D6Tcv6DnrnflfbLLhZkfuGGkRhKAmASdB8gGBpgNJVoeAXbdJVJCJCSPCxMN1B15dZdHNvzfc=
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b446fff58c8ee17b216d
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

env:
  global:
    # Disable GCE boto plugin which is incompatible to Python 3, see
    # https://github.com/travis-ci/travis-ci/issues/5246
    - BOTO_CONFIG=/tmp/nowhere

matrix:
  include:
    - os: linux
      sudo: required
      services: docker
      env: RUNMODE=docker
    - os: linux
      sudo: required
      compiler: gcc
      env: RUNMODE=travis
      addons:
        # If using C++11/14 see http://genbattle.bitbucket.org/blog/2016/01/17/c++-travis-ci/
        apt:
          packages: [ openssh-client, openssh-server, liblapack-pic, liblapack-dev ]
    - os: osx
      #osx_image: xcode7.3
      compiler: clang
      env: RUNMODE=travis

before_install:
  - |
    if [[ "$RUNMODE" == "docker" ]] ; then
      # Configure docker
      DOCKER=solvcon/solvcon_build
      docker pull $DOCKER

      containerid=$(docker run --detach --tty \
        --volume="${TRAVIS_BUILD_DIR}":${TRAVIS_BUILD_DIR} \
        --workdir=${TRAVIS_BUILD_DIR} \
        $DOCKER)

      SCRIPT_RUN_PREFIX="docker exec --tty $containerid"
    else
      # Configure ssh
      ssh-keygen -t rsa -f ~/.ssh/id_rsa -N ""
      chmod 700 ~/.ssh/
      cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
      chmod 600 ~/.ssh/authorized_keys
      ssh-keyscan -t rsa localhost >> ~/.ssh/known_hosts
      ssh-keyscan -t rsa 127.0.0.1 >> ~/.ssh/known_hosts
      chmod 600 ~/.ssh/known_hosts
      ls -al ~/.ssh/
      ssh localhost ls
      ssh 127.0.0.1 ls

      SCRIPT_RUN_PREFIX=
    fi

install:
  - |
    if [[ "$RUNMODE" != "docker" ]] ; then
      # Install minimal conda
      if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
      else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      fi
      bash miniconda.sh -b -p $HOME/miniconda
      export PATH="$HOME/miniconda/bin:$PATH"
      hash -r
      conda config --set always_yes yes --set changeps1 no
      conda update -q conda
    fi
  - |
    if [[ "$RUNMODE" != "docker" ]] ; then
      # Install conda packages
      ${TRAVIS_BUILD_DIR}/contrib/devenv/create.sh
      source ${TRAVIS_BUILD_DIR}/build/env/start
      ${TRAVIS_BUILD_DIR}/contrib/conda.sh
      ${TRAVIS_BUILD_DIR}/contrib/build-pybind11-in-conda.sh
      # Debugging information
      conda info -a
    fi

script:
  # Debugging information
  - |
    $SCRIPT_RUN_PREFIX which python3
    $SCRIPT_RUN_PREFIX python3 --version
    $SCRIPT_RUN_PREFIX which $CXX
    $SCRIPT_RUN_PREFIX $CXX --version
    $SCRIPT_RUN_PREFIX which $CC
    $SCRIPT_RUN_PREFIX $CC --version
  - $SCRIPT_RUN_PREFIX make
  - $SCRIPT_RUN_PREFIX contrib/release.sh

after_script:
  - |
    if [[ "$RUNMODE" == "docker" ]] ; then
      docker stop "$containerid"
      docker rm "$containerid"
    fi
