include MANIFEST.in
include README.rst HISTORY.rst COPYING
include doc/source/* doc/source/*/*
include SCons* patch/*.patch
recursive-include include *
recursive-include src *
recursive-include test *
include examples/*/*/go
include examples/*/*/SCons*
include examples/*/*/*.tmpl
include examples/*/*/*.py
include examples/*/*/*.h
include examples/*/*/*/*.c
