include MANIFEST.in
include requirements.txt
include README.rst HISTORY.rst CREDITS.rst COPYING
include contrib/* contrib/*/*
include doc/source/* doc/source/*/*
include SCons* patch/*.patch
include site_scons/site_tools/*.py
include ground/*
include soil/*
recursive-include include *
recursive-include src *
recursive-include test *
include ftests/*/*.py
include examples/*/*/go
include examples/*/*/SCons*
include examples/*/*/*.tmpl
include examples/*/*/*.py
include examples/*/*/*.h
include examples/*/*/*/*.c
