include CMakeLists.txt
include Makefile
include MANIFEST.in
include requirements.txt
include README.rst HISTORY.rst CREDITS.rst COPYING
include contrib/* contrib/*/*
include doc/source/* doc/source/*/*
recursive-include debian *
recursive-include libmarch *
prune libmarch/build
recursive-include solvcon *.py
recursive-include solvcon *.pyx
recursive-include solvcon *.pxd
recursive-include solvcon *.h
recursive-include solvcon *.c
recursive-include solvcon *.c_body
recursive-include test *
include ftests/*/*.py
include examples/*/*/go
include examples/*/*/*.tmpl
include examples/*/*/*.py
include examples/*/*/*.h
include examples/*/*/*/*.c
