Source: solvcon
Section: python
Priority: optional
Maintainer: Taihsiang Ho (tai271828) <tai271828@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 locales,
 libreadline7,
 libssl1.0.0,
 libffi6,
 liblapack3,
 liblapack-dev,
 libhdf5-100,
 libhdf5-dev,
 libnetcdf13,
 libnetcdf-dev,
 libscotch-6.0,
 libscotch-dev,
 cython3,
 python3,
 python3-numpy,
 libpython3.6-dev,
 python3-boto,
 python3-paramiko,
 graphviz
Standards-Version: 3.9.4
Homepage: http://solvcon.net/

Package: solvcon
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 gmsh
Recommends:
 python3-nose
Description: collection of Python-based conservation-law solvers
 SOLVCON is a collection of Python-based conservation-law solvers that use
 the space-time Conservation Element and Solution Element (CESE) method.
 .
 SOLVCON targets at solving problems that can be formulated as a system of
 first-order, linear or non-linear partial differential equations.
