# exterier vertices.
create vertex -1 -1 0
create vertex 1 -1 0
create vertex 1 1 0
create vertex -1 1 0
# interier vertices.
create vertex -0.2 -0.2 0
create vertex 0.2 -0.2 0
create vertex 0.2 0.2 0
create vertex -0.2 0.2 0
# outer-most curves.
create curve 1 2
create curve 2 3
create curve 3 4
create curve 4 1
# in-out connecting curves.
create curve 5 1
create curve 6 2
create curve 7 3
create curve 8 4
# inner-most curves.
create curve 5 6
create curve 6 7
create curve 7 8
create curve 8 5
# outer surfaces.
create surface 1 6 9 5
create surface 2 7 10 6
create surface 3 8 11 7
create surface 4 5 12 8
# inner surface.
create surface 9 10 11 12
# merge curves that connect outer surfaces.
merge curve 6 with curve 13
merge curve 7 with curve 14
merge curve 8 with curve 15
merge curve 5 with curve 16
# BCs.
sideset 1 curve 1
sideset 2 curve 2
sideset 3 curve 3
sideset 4 curve 4
sideset 5 curve 9
sideset 6 curve 20
sideset 7 curve 10
sideset 8 curve 19
sideset 9 curve 11
sideset 10 curve 18
sideset 11 curve 12
sideset 12 curve 17
sideset 1 name "lower"
sideset 2 name "right"
sideset 3 name "upper"
sideset 4 name "left"
sideset 5 name "iloweru"
sideset 6 name "ilowerd"
sideset 7 name "irightu"
sideset 8 name "irightd"
sideset 9 name "iupperu"
sideset 10 name "iupperd"
sideset 11 name "ileftu"
sideset 12 name "ileftd"
# mesh.
surface 1 2 3 4 5 size 0.1
surface 1 2 3 4 5 scheme trimesh
mesh surface 1 2 3 4 5
